## Rating Features
- There are two ways of scoring
    - Grade according to Quantiles: 'population_density','offence_count_scaled', 'percentage_rent'
    - Custom Scoring: 'num_stations','num_schools','num_hospitals'
- Sum all the score calculated to get final score

In [13]:
import pandas as pd
suburb_df = pd.read_csv("../data/curated/suburb_final.csv")
suburb_df

,Unnamed: 0,LOC_PID,LOC_NAME,rental_price,suburb_population,population_density,offence_count_scaled,income,num_stations,num_schools,num_hospitals
0,0,loc0067a4549ed1,Korumburra,278.333333,4897.000000,81.797573,0.165407,47097.371969,0.0,3.0,0.0
1,1,loc00a9769647d7,Kew,621.281250,26158.000000,2486.279947,0.107577,71097.931084,0.0,11.0,6.0
2,2,loc00d1503504f1,Glen Waverley,561.269841,41928.000000,2489.998587,0.105967,44548.852850,2.0,13.0,2.0
3,3,loc00e6e39d335b,Sailors Falls,450.000000,1057.555556,108.121093,0.001891,46234.245242,0.0,0.0,0.0
4,4,loc00f0949ea0ad,Sunbury,471.617647,39266.294118,297.403254,0.130443,62622.919507,1.0,14.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
719,719,locff6258c8ea42,Montmorency,525.555556,9003.705882,2366.881699,0.050979,66315.679359,1.0,4.0,0.0
720,720,locff62fb6a898a,Carrum Downs,458.823529,22420.000000,1109.905643,0.165120,59654.130953,0.0,4.0,0.0
721,721,locffa1c8993b70,Mambourin,407.352941,5488.609375,154.062304,0.035164,59687.062945,0.0,0.0,0.0
722,722,locffb43e78ab10,Murtoa,300.000000,2133.333333,6.995021,0.056250,50199.145749,0.0,2.0,0.0
723,723,locffd0eebac0eb,Chelsea,493.333333,7101.450000,2702.676594,0.161094,66984.596179,1.0,2.0,0.0

In [14]:
# add new cloumn 'percentage_rent' calculate the  proportion of rental price in 2022_income
suburb_df['percentage_rent'] = 52*suburb_df['rental_price']/suburb_df['income']

In [15]:
# function to score quantile
def quantile_score(df,column,score):
    df[score] = 0
    df.loc[df[column] <=df[column].describe()[4],score] = 4
    df.loc[(df[column].describe()[4] < df[column])&( df[column]<= df[column].describe()[5]),score] = 3
    df.loc[(df[column].describe()[5] < df[column]) & (df[column] <= df[column].describe()[6]),score] = 2
    df.loc[df[column].describe()[6] < df[column],score] = 1

def quantile_score2(df,column,score):
    df[score] = 0
    df.loc[df[column] <=df[column].describe()[4],score] = 4
    df.loc[(df[column].describe()[4] < df[column])&( df[column]<= df[column].describe()[5]),score] = 2
    df.loc[(df[column].describe()[5] < df[column]) & (df[column] <= df[column].describe()[6]),score] = 1
    df.loc[df[column].describe()[6] < df[column],score] = 3
    
# scoring for population density
quantile_score2(suburb_df,'population_density','density_score')
# scoring for percentage_rent
quantile_score(suburb_df,'percentage_rent','percentage_rent_score')
# scoring for offence_count_scaled
quantile_score(suburb_df,'offence_count_scaled','offence_count_scaled_score')

suburb_df

,Unnamed: 0,LOC_PID,LOC_NAME,rental_price,suburb_population,population_density,offence_count_scaled,income,num_stations,num_schools,num_hospitals,percentage_rent,density_score,percentage_rent_score,offence_count_scaled_score
0,0,loc0067a4549ed1,Korumburra,278.333333,4897.000000,81.797573,0.165407,47097.371969,0.0,3.0,0.0,0.307307,4,4,2
1,1,loc00a9769647d7,Kew,621.281250,26158.000000,2486.279947,0.107577,71097.931084,0.0,11.0,6.0,0.454396,3,2,2
2,2,loc00d1503504f1,Glen Waverley,561.269841,41928.000000,2489.998587,0.105967,44548.852850,2.0,13.0,2.0,0.655147,3,1,2
3,3,loc00e6e39d335b,Sailors Falls,450.000000,1057.555556,108.121093,0.001891,46234.245242,0.0,0.0,0.0,0.506118,2,1,4
4,4,loc00f0949ea0ad,Sunbury,471.617647,39266.294118,297.403254,0.130443,62622.919507,1.0,14.0,1.0,0.391616,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,719,locff6258c8ea42,Montmorency,525.555556,9003.705882,2366.881699,0.050979,66315.679359,1.0,4.0,0.0,0.412103,3,3,4
720,720,locff62fb6a898a,Carrum Downs,458.823529,22420.000000,1109.905643,0.165120,59654.130953,0.0,4.0,0.0,0.399953,1,3,2
721,721,locffa1c8993b70,Mambourin,407.352941,5488.609375,154.062304,0.035164,59687.062945,0.0,0.0,0.0,0.354890,2,4,4
722,722,locffb43e78ab10,Murtoa,300.000000,2133.333333,6.995021,0.056250,50199.145749,0.0,2.0,0.0,0.310762,4,4,4
723,723,locffd0eebac0eb,Chelsea,493.333333,7101.450000,2702.676594,0.161094,66984.596179,1.0,2.0,0.0,0.382974,3,3,2

In [16]:
# Custom rating
suburb_df = suburb_df.fillna(0)
suburb_df.iloc[:,8:11] = suburb_df.iloc[:,8:11].values.astype(int)

def custom_score(df,column,score,range_1,range_2,range_3,range_4):
    df[score] = 0
    df.loc[df[column].isin(range_1),score] = 1
    df.loc[df[column].isin(range_2),score] = 2
    df.loc[df[column].isin(range_3),score] = 3
    df.loc[df[column].isin(range_4),score] = 4
    
# scoring for number of station
custom_score(suburb_df,'num_stations','num_stations_score',range(0,1),range(1,2),range(2,4),range(4,6))
# scoring for number of schools
custom_score(suburb_df,'num_schools','num_schools_score',range(0,4),range(4,8),range(8,12),range(12,15))
# scoring for number of hospitals
custom_score(suburb_df,'num_hospitals','num_hospitals_score',range(0,1),range(1,3),range(3,6),range(6,9))
suburb_df

,Unnamed: 0,LOC_PID,LOC_NAME,rental_price,suburb_population,population_density,offence_count_scaled,income,num_stations,num_schools,num_hospitals,percentage_rent,density_score,percentage_rent_score,offence_count_scaled_score,num_stations_score,num_schools_score,num_hospitals_score
0,0,loc0067a4549ed1,Korumburra,278.333333,4897.000000,81.797573,0.165407,47097.371969,0,3,0,0.307307,4,4,2,1,1,1
1,1,loc00a9769647d7,Kew,621.281250,26158.000000,2486.279947,0.107577,71097.931084,0,11,6,0.454396,3,2,2,1,3,4
2,2,loc00d1503504f1,Glen Waverley,561.269841,41928.000000,2489.998587,0.105967,44548.852850,2,13,2,0.655147,3,1,2,3,4,2
3,3,loc00e6e39d335b,Sailors Falls,450.000000,1057.555556,108.121093,0.001891,46234.245242,0,0,0,0.506118,2,1,4,1,1,1
4,4,loc00f0949ea0ad,Sunbury,471.617647,39266.294118,297.403254,0.130443,62622.919507,1,14,1,0.391616,2,3,2,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,719,locff6258c8ea42,Montmorency,525.555556,9003.705882,2366.881699,0.050979,66315.679359,1,4,0,0.412103,3,3,4,2,2,1
720,720,locff62fb6a898a,Carrum Downs,458.823529,22420.000000,1109.905643,0.165120,59654.130953,0,4,0,0.399953,1,3,2,1,2,1
721,721,locffa1c8993b70,Mambourin,407.352941,5488.609375,154.062304,0.035164,59687.062945,0,0,0,0.354890,2,4,4,1,1,1
722,722,locffb43e78ab10,Murtoa,300.000000,2133.333333,6.995021,0.056250,50199.145749,0,2,0,0.310762,4,4,4,1,1,1
723,723,locffd0eebac0eb,Chelsea,493.333333,7101.450000,2702.676594,0.161094,66984.596179,1,2,0,0.382974,3,3,2,2,1,1

In [17]:
# sum all calculated score to get final score
suburb_df['final_score'] = suburb_df.iloc[:,12:].sum(axis=1, skipna=True)
suburb_df = suburb_df.sort_values(by='final_score',ascending=False)
suburb_df.drop(suburb_df.columns[list(range(3,11)) + list(range(12,18))], axis=1, inplace=True)
suburb_df = suburb_df.drop('Unnamed: 0', axis=1)
suburb_df.to_csv("../data/curated/suburb_score_full.csv")
suburb_df.head(10).to_csv("../data/curated/suburb_score_top_10.csv")
suburb_df

             LOC_PID         LOC_NAME  percentage_rent  final_score
93   loc1f73672977ce      Warrnambool         0.378332           17
150  loc3319215a0a10         Brighton         0.886457           17
640  loce4e504a7fb1e            Nhill         0.228297           17
469  loca4e166a620d9       Noble Park         0.414880           17
261  loc5c27e3f22fc1         Hawthorn         0.417660           17
..               ...              ...              ...          ...
648  loce7252de87492      Albert Park         0.594950            6
443  loc9a48431374e1   Port Melbourne         0.550967            6
599  locd6f79866f950        Knoxfield         0.528563            6
679  locf07f0a553979           Jacana         0.527081            6
120  loc28350a6fd21f  Patterson Lakes         0.561756            6

[724 rows x 4 columns]